@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style type="text/css">
    #banner{
        background-image:url("../Content/image/logo2.png");
        background-size:cover;
        background-position:center;
        height:200px;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .logo2 img{
        height:100px;
    }
</style>
<section id="banner">
<div class="banner-cotent">
    <h2>Chào mừng bạn đã đến với Gà Lập Trình của chúng tôi</h2>
    <p>Thơm Ngon Mời Bạn Ăn Nha</p>
    <a href="#" class="btn"> Bắt đầu mua sắm</a>
     
</div>
</section>
<section id="Content">

</section>
